@font-face {
    font-family: myFirstFont;
    src: url(pricedown\ bl.otf);
  }

@font-face {
    font-family: secondFont;
    src: url(BrushScrD.ttf);
}

body, html {
    padding: 0%;
    margin: 0 auto;
    background-color: #b28bc0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header, .choices {
    text-align: center;
}
.options {
    padding: 20px;
    text-align: center;
    font-family: secondFont;
    font-size: 40px;
    color:;
}

.header {
    margin: 0px;
    padding: 20px;
    background-color: #0266c8;
    font-family: myFirstFont;
    font-size: 50px;
    color: 	white;

}

.choices {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    font-family: secondFont;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}